<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - @ViewData["Title"]</title>

    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/lib/font-awesome/all.min.js" crossorigin="anonymous"></script>
    <link href="~/css/fontAwesome.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="~/css/LineIcons.css" rel="stylesheet" />

    <link href="~/css/styleUpload.css" rel="stylesheet" />

    <style>
        .input-xs {
            height: 22px;
            padding: 2px 5px;
            font-size: 12px;
            line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
            border-radius: 3px;
        }

        tr th {
            vertical-align: middle;
        }
    </style>

    <style type="text/css">
        .loader {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: rgba(0,0,0,0.50) url(content/loading.gif) no-repeat center center;
            z-index: 10000;
        }
    </style>

</head>
<body class="sb-nav-fixed">
    @{
        var Nameclm = User.Claims.FirstOrDefault(o => o.Type == System.Security.Claims.ClaimTypes.NameIdentifier);
        string Name = "";
        if (Nameclm != null && !string.IsNullOrEmpty(Nameclm.Value))
        {
            if (Nameclm.Value.Length > 20) Name = Nameclm.Value.Substring(0, 17) + "...";
            else Name = Nameclm.Value;
        }


    }
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Index">
            Finishing Manager
        </a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-bars"></i> Font Awesome fontawesome.com --></button>
        <!-- Navbar Search-->
        <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="lni lni-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/Account/MyProfile">Account Details</a>
                    @if (User.IsInRole("AdminFull") || User.IsInRole("Users", AuthType.Full))
                    {
                        <a class="dropdown-item" href="/Account/UserList">User List</a>
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Account/Logout">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">

        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Process</div>
                        @if (User.IsInRole("RuloFull") || User.IsInRole("AdminFull") || User.IsInRole("RuloShow"))
                        {
                            <a class="nav-link" asp-controller="Rulo" asp-action="Index">
                                <div class="sb-nav-link-icon">
                                    <i class="lni lni-sm lni-layers"></i>
                                </div>
                                Rulos
                            </a>
                        }
                        @if (User.IsInRole("RuloMigration", AuthType.Show))
                        {
                            <a class="nav-link" asp-controller="Migration" asp-action="Index">
                                <div class="sb-nav-link-icon">
                                    <i class="lni lni-cloud-upload"></i>
                                </div>
                                Raws
                            </a>
                        }
                        @if (User.IsInRole("Reprocess", AuthType.Show))
                        {
                            <a class="nav-link" asp-controller="Reprocess" asp-action="Index">
                                <div>
                                    <i class="lni lni-cog"></i>
                                </div>
                                Reprocesos
                            </a>
                        }
                    </div>
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Definitions</div>
                        @if (User.IsInRole("PeriodAdd") || User.IsInRole("PeriodFull") || User.IsInRole("AdminFull"))
                        {
                            <a class="nav-link" asp-controller="Period" asp-action="Index">
                                <div class="sb-nav-link-icon">
                                    <i class="lni lni-sm lni-cogs"></i>

                                </div>
                                Periods
                            </a>
                        }

                        @if (User.IsInRole("DefinitionProcessFull") || User.IsInRole("DefinitionProcessShow") || User.IsInRole("AdminFull"))
                        {
                            <a class="nav-link" asp-controller="DefinationProcess" asp-action="Index">
                                <div class="sb-nav-link-icon">
                                    <i class="lni lni-sm lni-cogs"></i>

                                </div>
                                Definition Processes
                            </a>
                        }

                        @if (User.IsInRole("AdminFull"))
                        {
                            <a class="nav-link" asp-controller="Floor" asp-action="Index">
                                <div class="sb-nav-link-icon">
                                    <i class="lni lni-sm lni-grid-alt"></i>
                                </div>
                                Floors
                            </a>
                        }

                        @if (User.IsInRole("TestCategoryFull") || User.IsInRole("TestCategoryShow") || User.IsInRole("AdminFull"))
                        {
                            <a class="nav-link" asp-controller="TestCategory" asp-action="Index">
                                <div class="sb-nav-link-icon">
                                    <i class="lni lni-sm lni-eye"></i>
                                </div>
                                Test Definitions
                            </a>
                        }

                    </div>
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Reports</div>
                        @if (User.IsInRole("Report", AuthType.Show) || User.IsInRole("Report", AuthType.Full))
                        {
                            <a class="nav-link" asp-controller="Report" asp-action="Index">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-file-alt"></i>
                                </div>
                                Rulo Reports
                            </a>
                        }
                        @if (User.IsInRole("RawReport", AuthType.Show) || User.IsInRole("RawReport", AuthType.Full))
                        {
                            <a class="nav-link" asp-controller="RawReport" asp-action="Index">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-file-alt"></i>
                                </div>
                                Raw Reports
                            </a>
                        }
                    </div>
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Configurations</div>
                        @if (User.IsInRole("SystemPrinter", AuthType.Full))
                        {
                            <a class="nav-link" asp-controller="SystemPrinter" asp-action="Index">
                                <div class="sb-nav-link-icon">
                                    <i class="lni lni-printer"></i>
                                </div>
                                System Printers
                            </a>
                        }
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    @(Name)
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
        </div>



    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/scripts.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
