@model GD.FinishingSystem.Entities.SystemPrinter

<h4>SystemPrinter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SystemPrinterID" class="control-label"></label>
                <input asp-for="SystemPrinterID" class="form-control" />
                <span asp-validation-for="SystemPrinterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorID" class="control-label"></label>
                <input asp-for="FloorID" class="form-control" />
                <span asp-validation-for="FloorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorID" class="control-label"></label>
                <input asp-for="CreatorID" class="form-control" />
                <span asp-validation-for="CreatorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdaterID" class="control-label"></label>
                <input asp-for="LastUpdaterID" class="form-control" />
                <span asp-validation-for="LastUpdaterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdateDate" class="control-label"></label>
                <input asp-for="LastUpdateDate" class="form-control" />
                <span asp-validation-for="LastUpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleterID" class="control-label"></label>
                <input asp-for="DeleterID" class="form-control" />
                <span asp-validation-for="DeleterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
